body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url(../img/bg.png);
}

a {
    text-decoration: none;
    color: #000;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.panel-left {
	position: fixed;
	width: 360px;
	height: calc(100% - 40px);
	margin: 20px;
	border-radius: 15px;
	background-color: #FFFFFF9F;
}

.inner-header {
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	padding: 20px;
	width: 320px;
	height: 120px;
	border-radius: 15px 15px 0 0;
	background-color: #F6EBFC;
}

.avatar {
	width: 120px;
	height: 120px;
	border: 1px solid;
	border-radius: 50%;
}

.inner-header-right {
	margin-left: 30px;
	height: 120px;
	width: 180px;
}

.name {
	font-size: 24px;
}

.info {
	font-size: 12px;
	margin: 5px 0;
}

.navigation {
	width: 340px;
	height: calc(100% - 300px);
	padding: 10px;
	background-image: url(../img/draw.png);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.navigation-element {
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	transition: background-color .5s;
}

.navigation-element:hover {
	background-color: #F6EBFC;
	border-radius: 5px;
}

.footer {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	height: 120px;
	margin: 0;
	border-radius: 0 0 15px 15px;
	background-color: #F6EBFC;
}

.footer div {
	margin: auto;
}

.container {
	position: fixed;
	left: 400px;
	min-width: 600px;
	width: calc(98% - 400px);
	height: calc(100% - 40px);
	overflow-x: hidden;
	overflow-y: auto;
	margin: 20px auto;
	border-radius: 15px;
	background-color: #FFFFFF9F;
}

.element-conatiner {
	width: 100%;
}

.header {
	font-size: 32px;
	margin: 20px;
	width: 200px;
}

.element-border {
	margin: 20px 20px 20px 40px;
	width: calc(100% - 60px);
	height: 125px;
	border-radius: 10px;
	background-image: linear-gradient(to right, #F6EBFC, #FFFFFF, #FFFFFF);
	background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
	line-height: 28px;
	font-size: 18px;
}

.element-border:hover {
	background-position: 0 0;
}

.element {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	margin: 0;
	width: 100%;
	height: 100%;
}

.element-img {
	width: 80px;
	height: 80px;
	margin: 10px;
}

.element-text {
	margin: 10px 0;
	width: calc(100% - 300px);
	overflow: hidden;
}

.element-title {
	font-size: 20px;
	line-height: 24px;
	height: 30px;
}

.element-info {
	font-size: 16px;
	color: #7F7F7F;
	line-height: 24px;
	height: 72px;
}

.element-bg {
	height: 125px;
	width: 200px;
	margin-left: 10px; 
}