body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url(../img/bg.png);
}

a {
    text-decoration: none;
    color: #000;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.panel-left {
	position: fixed;
	width: 360px;
	height: calc(100% - 40px);
	margin: 20px;
	border-radius: 15px;
	background-color: #FFFFFF9F;
}

.inner-header {
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	padding: 20px;
	width: 320px;
	height: 120px;
	border-radius: 15px;
	background-color: #F6EBFC;
}

.avatar {
	width: 120px;
	height: 120px;
	border: 1px solid;
	border-radius: 50%;
}

.inner-header-right {
	margin-left: 30px;
	height: 120px;
	width: 180px;
}

.name {
	font-size: 24px;
}

.info {
	font-size: 12px;
	margin: 5px 0;
}

.navigation {
	width: 340px;
	margin: 10px;
}

.navigation-element {
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}

.navigation-element:hover {
	background-color: #F6EBFC;
	border-radius: 5px;
}

.container {
	position: absolute;
	left: 400px;
	min-width: 700px;
	width: calc(98% - 400px);
	height: calc(100% - 40px);
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 20px auto;
	border-radius: 15px;
	background-color: #FFFFFF9F;
}

.element-conatiner {
	width: 100%;
}

.header {
	font-size: 32px;
	margin: 20px;
	width: 200px;
}

.element {
	display: -webkit-flex;
	display: flex;
	align-items: left;
	margin: 20px 20px 20px 40px;
	width: calc(100% - 60px);
	height: 100px;
	border-radius: 10px;
	background-color: #F6EBFC;
	line-height: 28px;
	font-size: 18px;
}

.element-img {
	width: 80px;
	height: 80px;
	margin: 10px;
}

.element-title {
	margin: 10px 0;
}